$padding-hor-mobile: 9rem;
$padding-hor-sm: 9.5rem;
$padding-hor-md: 12.5rem;
$padding-hor: 15rem;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;