//import variables css
@import "../styles/variable";
@import "../styles/breakpoints";

.nav{
  padding: 1rem $padding-hor;
  padding: 1rem $padding-hor;
  @media (min-width : $desktop_xsm) {
    padding: 2rem $padding-hor-mobile;
  }

  @media (min-width : $desktop_xsm) and (max-width:$desktop_sm ) {
    padding: 2rem $padding-hor-sm; 
  }

  @media (min-width : $desktop_sm) and (max-width:$desktop_md ) {
    padding: 2rem $padding-hor-md; 
  }
}

.header{
  display: flex;
  align-items: center;

  height: 16rem;
  background-image: url('/assets/header.png');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1rem $padding-hor;

  @media (min-width : $desktop_xsm) {
    padding: 2rem $padding-hor-mobile;
  }

  @media (min-width : $desktop_xsm) and (max-width:$desktop_sm ) {
    padding: 2rem $padding-hor-sm; 
  }

  @media (min-width : $desktop_sm) and (max-width:$desktop_md ) {
    padding: 2rem $padding-hor-md; 
  }
  
  &__text{
    font-weight: bold;
    font-size: 4rem;
    text-align:left;

    min-width: 16rem;
    width: 40%;

    color: rgb(104, 0, 0);
    background-color: rgba(255, 255, 255, 0);

  }
}

.menu{
  padding: 1rem $padding-hor;
  @media (min-width : $desktop_xsm) {
    padding: 2rem $padding-hor-mobile;
  }

  @media (min-width : $desktop_xsm) and (max-width:$desktop_sm ) {
    padding: 2rem $padding-hor-sm; 
  }

  @media (min-width : $desktop_sm) and (max-width:$desktop_md ) {
    padding: 2rem $padding-hor-md; 
  }

  &__title{
    font-size: 1.5rem;
  }

  &__filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.75rem;
    width: 100%;
  }
}