@import "../../Styles/variable";
@import "../../Styles/breakpoints";


.footer {
  background-color: $red;
  display: flex;
  justify-content: flex-end;
 
  padding: 1rem $padding-hor;
  @media (min-width : $desktop_xsm) {
    padding: 2rem $padding-hor-mobile;
  }

  @media (min-width : $desktop_xsm) and (max-width:$desktop_sm ) {
    padding: 2rem $padding-hor-sm; 
  }

  @media (min-width : $desktop_sm) and (max-width:$desktop_md ) {
    padding: 2rem $padding-hor-md; 
  }
}