@import "../../styles/variable";
@import '../../styles/breakpoints';

.searchEngine{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;

  padding: 0.25rem 1rem;
  margin-top: 0.75rem ;
  
  width: 25rem;
  
  border-radius: 0.5rem;
  background-color: $grey;

  @media (max-width: $mobile) {
    width: 100%;
  }

  input {
    width: 100%;

    border: none;
    background-color: $grey;
    outline: none;

    font-size: 1.25rem;
    font-weight: bold;

    &::placeholder {
      color: #626268;
    }
  }
}